extends layout

block content
    div 
        a.btn.btn-success(href="/clients/new" role="button") New client
    div.table-responsive 
        h3 My clients
        table.table.table-hover.table-bordered 
            thead
                tr
                    th Name
                    th API key
                    th Created at
                    th
            tbody
                - each client, i in clients
                    tr  
                        td
                            h4= client.name
                        td
                            strong #{client.api_key}
                        td
                            p= client.created_at
                        td
                            div
                                a.btn.btn-link(href="/clients/#{client._id}/edit") Edit
                            div
                                form(action="/clients/#{client._id}",method="POST")
                                    input(type="hidden",value="DELETE",name="_method")
                                    button.btn.btn-link(type="submit").
                                        Delete
                        