extends ../layout

block content
    div.col-md-6
        h1 New client
        form#formAddClient(name="addClient", method="post", action="/clients")
            div.form-group.col-md-6
                label(for="inputName") Name:
                input#inputName.form-control(type="text", placeholder="ex: Spark core 1", name="name")
            div.col-md-12
                h3 Payload options
                div.form-group.col-md-4.pull-left
                    label(for="selectApi") Api
                    select#selectApi.form-control(name="payloadApi")
                        option(disabled, selected) Select API
                        - each i, api in apis_list
                            option(value="#{api}") #{api}
                - each i, api in apis_list
                    div.apiOptionsForm.col-md-8.pull-left.hidden(id="#{api}_form")
                        div.form-group.col-md-6
                            label(for="selectMethod") Method
                            select#selectMethod.inputMethod.form-control(name="payloadMethod" disabled)
                                - each i, method in apis_list[api]
                                        option(value="#{method}") #{method}
                        div.form-group.col-md-6.pull-left
                            label(for="methodOptions") Parameters
                            input#methodOptions.inputMethod.form-control(type="text", name="payloadOption" disabled)

            div.col-md-12 
                button#btnSubmit.btn.btn-success(type="submit").
                    Create


block inPageScript
    script.
        var apisListObject =!{JSON.stringify(apis_list)}

        $("#selectApi").change(function(){
            var api_selected = $(this).children(":selected").text();
            var sel = "#" + api_selected + "_form";

            $(".apiOptionsForm").addClass("hidden");
            $(".inputMethod").attr("disabled", true);
            $(sel).removeClass("hidden");
            $(sel + " div select").attr("disabled", false);
            $(sel + " div input").attr("disabled", false)
        });
